/*CSS per per il corpo del sito*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgb(48, 54, 238) 68%, rgb(168, 36, 204) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

span{
  text-align: center;
}

footer{
  text-align: center;
}

/*CSS per i link*/
a:hover {
    text-decoration: underline;
}
a {
    color: #ffffff;
}

.bordoTitolo{
  box-shadow:5px 5px 3px #000000;
        vertical-align:middle;
        text-align:center;
        border:3px double rgb(0, 0, 0);
}
/*Animazione scritte*/
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.fade-in {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  animation: fade-in 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/* Animazione fade-in della scritta "Cosa sono le AI?" che aumenta gradualmente l'opacità e rimuove lo sfocatura */
.fade-in {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  animation: fade-in 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  to {
    opacity: 1;
    filter: none;
  }
}

/* Animazione fade-in della scritta "Intelligenza Artificiale" che aumenta gradualmente l'opacità e rimuove lo sfocatura */
.title-fade-in {
  opacity: 0;
  filter: blur(4px);
  animation: title-fade-in 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes title-fade-in {
  to {
    opacity: 1;
    filter: none;
  }
}

/* Animazione gradient che fa scorrere gradualmente
un effetto di sfondo a due colori. */
@keyframes gradient {
  0% {
  background-position: 0% 0%;
  }
  50% {
  background-position: 100% 100%;
  }
  100% {
  background-position: 0% 0%;
  }
  }
  
  /* Prefisso vendor per la compatibilità cross-browser */
  @-webkit-keyframes wave {
  2% {
  -webkit-transform: translateX(1);
  }
  25% {
  -webkit-transform: translateX(-25%);
  }
  50% {
  -webkit-transform: translateX(-50%);
  }
  75% {
  -webkit-transform: translateX(-25%);
  }
  100% {
  -webkit-transform: translateX(1);
  }
  }
